body {
    margin: 0;
    color: white;
    font-family: 'Bakbak One', 'Verdana', 'Arial', sans-serif;
}

h1 {
    font-size: 3em;
}

#manualRotate {
    display: block;
    float: right;
}

#three-container {
    position: absolute;
    top: 0;
    /* z-index: -1; */
}
#main-content {
    pointer-events: none;
    height: 100vh;
}
#main-content .text {
    pointer-events: none;
    height: 100vh;
    position: absolute;
    margin-left: 20px;
}
#extraInfo {
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    transform: translateY(-100%);
}
.legend {
    min-width: 100px;
    display: inline-block;
    opacity: 0.6;
}

@media only screen and (min-width: 1000px) {
    #main-content {
        position: relative;
        width: 50%;
        float: right;
    }

    #main-content .text {
        height: initial;
        top: 50%;
        transform: translateY(-54%);
    }

    #extraInfo {
        position: relative;
        bottom: 0;
        transform: initial;
    }

}